circle {
  fill: steelblue;
  opacity: 0.5;
}

.line-path {
  fill: steelblue;
}

text {
  font-family: sans-serif;
}

.tick text {
  font-size: 2.7em;
  fill: #635f5d;
}

.tick line {
  stroke: #c0c0bb;
}

.axis-label {
  font-size: 3em;
  fill: #8e8883;
}

.title {
  font-size: 2.5em;
  fill: #635f5d;
}
